<div class="container">

	<div class="starter-template">
	<h1>Kick Line</h1>
	<p class="lead">The smart sneaker waiting list app.</p>
	<a href="/#/register" class="btn btn-primary btn-lg" role="button">Register now!</a>
	</div>
	<div class="row">
	  <div class="col-md-4">
	  	<h2>No more waiting in line.</h2>
	  	<p>Use this simple app to manage your wait list from your PC. tablet, or phone.</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>No more rowdy crowds camping out.</h2>
	  	<p>Open up your store at regular store hours. You can text a customer with just a tap.</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>The Sneakerheads will love you.</h2>
	  	<p>Now they can avoid all the hassles of all the long lines.</p>
	  </div>
	</div>

</div><!-- /.container -->